<html>
<head>
<title>
 | Home
</title>
<link rel='stylesheet' href='/static/style.css'>
</head>
<body>
<div class=nav>
<div class=margin>
<h1>FACEIT</h1>
<div class=link>
<a href="/about" class=nl>About</a>
<a href="/login" class=nl>Log In</a>
<a href="/signup" class=nl>Sign Up</a>
</div>
</div>
</div>

<div class=slider>
<img src="01.jpg">
<div class=slidtxt>
<div class=margin>
<h2>ASD DETECTION USING FACIAL IMAGES</h2>
ASD Unlocking smiles, our facial image tool dances through the spectrum – swift, accurate, and empowering early intervention for a brighter journey beyond autism's veil.<br>
<a href="/taketest"><button>Take Your Test</button>
</div>
</div>
</div><center>
<div class=margin>


<div class=b>
<h3>AN OVERVIEW OF OUR PROJECT</h3><font color=black>
<p> Autism Spectrum Disorder (ASD) stands as a complex neurodevelopmental challenge characterized by social interaction difficulties and repetitive behavior patterns. Early identification of ASD is pivotal for initiating timely interventions that can significantly enhance the quality of life for individuals affected by the disorder. However, the existing diagnosis methods are plagued by issues such as time consumption and the need for specialized professionals.</p></font>
<a href="/about"><button>READ MORE</button></a>
</div>



<br><BR>
<br><BR>




<div class=f>
<center>COPYRIGHT&copy;
right recived 
</div>

</body>
</html>

