<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8"/>
		<title>Login</title>
		<link rel='stylesheet' href='/static/style.css'>
	</head>
	<body>
		<form method = "post">
			<input type = "email" name = "username" placeholder = "Username" required/>
			<input type = "password" name = "pass" placeholder = "Password" required/>
			<input type = "checkbox" name = "remember" id = "remember" value = "off"/>
			<label for = "remember">Remember me</label>
			<button type = "submit">Submit</button>
		</form>
	</body>
</html>