<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8"/>
		<title>Signup</title>
		<link rel='stylesheet' href='/static/style.css'>
	</head>
	<body>
		<form method = "post">
			<input type = "email" name = "username" placeholder = "Username" required/>
			<input type = "text" name = "name" placeholder = "Name" required/>
			<input type = "password" name = "pass1" placeholder = "Password" required/>
			<input type = "password" name = "pass2" placeholder = "Confirm password" required/>
			<button type = "submit">Submit</button>
		</form>
	</body>
</html>