<html>
<head>
<title>
MINI | signup
</title>
<link rel=stylesheet href=style.css>
</head>
<body>
<div class=nav>
<div class=margin>
<h1>FACEIT</h1>
<div class=link>
<a href="index.html" class=nl>Home</a>
<a href="about.html" class=nl>About</a>
<a href="login.html" class=nl>Log In</a>
<a href="signup.html" class=nl>Sign Up</a>
</div>
</div>
</div>


<div class=margin>
<h5>Sign Up</h5>
<center>
<div class=j>
<h3></h3>
<input type=email placeholder=Username>
<input type=password placeholder=Password>
<input type=password placeholder=Confirm Password>

<a href="#"><button>Sign Up</button></a><br>
<a href="login.html"><button>Log In</button></a>
<br>
</div>
</center>

</div>



</body>
</html>


