<html>
<head>
<title>
Upload
</title>
<link rel='stylesheet' href='/static/style.css'>
</head>
<body>
<div class=nav>
<div class=margin>
<h1>FACEIT</h1>
<div class=link>
<a href="/" class=nl>Home</a>
<a href="/about" class=nl>About</a>
<a href="/login" class=nl>Log In</a>
<a href="/signup" class=nl>Sign Up</a>
</div>
</div>
</div>


<div class=margin>
<h5>Successfully Uploaded Your Photo</h5>
<center>
<div class=l>
<h3>Uploaded Photo</h3>
<img src="03.png">
<br><br>
<a href="/result"><button>Show Result</button></a>
</div>
</center>

</div>



</body>
</html>


