<html>
<head>
<title>
Upload
</title>
<link rel='stylesheet' href='/static/style.css'>
</head>
<body>
<div class=nav>
<div class=margin>
<h1>FACEIT</h1>
<div class=link>
<a href="/" class=nl>Home</a>
<a href="/about" class=nl>About</a>
<a href="/login" class=nl>Log In</a>
<a href="/signup" class=nl>Sign Up</a>
</div>
</div>
</div>


<div class=margin>
<h5>Take Your Test</h5>
<center>
<div class=l>
<h3></h3>
<img src="03.png">
<br><br>
<form method = 'POST' enctype = 'multipart/form-data'>
	<input type="file" name = 'file' />
	<input type = 'submit'/>
</form>
</div>
</center>

</div>



</body>
</html>


